        body{
            margin: 0;
            width: auto;
            height: auto;
            background-color: #F4EFEA;
        }

    @font-face {
        font-family: entrar;
        src: url(../fonts/Britannic\ Bold\ Regular.ttf);
    }
    @font-face {
        font-family: titulo;
        src: url(../fonts/Poppins-ExtraBold.ttf);
    }
    @font-face {
        font-family: p1;
        src: url(../fonts/Lato-Regular.ttf);
    }
    @font-face {
        font-family: imake;
        src: url(../fonts/SourceSerif4_18pt-Black.ttf);
    }

    @font-face {
        font-family: form;
        src: url(../fonts/Regular.ttf);
    }   

    .pagina_inicial{
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;
        background-color: #F4EFEA;
        position: relative;
        z-index: 1;
        margin-top: 120px;
        
    }

    .bloco1{
        width: 100%;
        height: 77px;
        background-image: url(../imagens/cabeçalho.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0; 
        left: 0;
        z-index: 0;
        display: flex;
        justify-content: center; /*eixo x*/
        align-items: center; /*eixo y*/
        gap: 20px;
        font-size: 12px;
        margin: 0;
        
    }

    .img{
        z-index: 1;
        position: absolute;
        top: -25px;
        left: 590px;
        justify-content: center;
    }
    .logo{
        z-index: 1;
        width:  200px;
        height: auto;
        position: fixed;
        top: 11px;
        right: 102px;
    }
    .bloco2{
        background-image: url(../imagens/6556647.jpg);
        position: absolute;
        display: block;
        border-radius: 8px;
        box-shadow: 3px 3px 10px black;
        top: 40px;
        width: 949px;
        height: 412px;
        background-size: cover;
    }

    .fotoPerfil{
        position: fixed;
        top: 180px;
        right: 350px;
        box-shadow: 3px 3px 10px black;

    }

   
    p{
        border: 1px solid #2C2C2C;
        width: 72px;
        height: 35px;
        display: flex;
        font-size: 15px;
        border-radius: 7px;
        justify-content: center;
        align-items: center;
        background-color: #D2B9A0;
        color: black;
        font-family: 'form', sans-serif;
        margin: 15px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        margin-left: 50px;
    }

     p.nome{
        margin-top: 0px;
        position: relative;
        top: 25px;
    }

    .field1{
        background-color: white;
        display: block;
        position: absolute;
        width: 220px; 
        height: 13px;
        top: 65px;
        left: 50px;
        flex: 1;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;      
        transition: border-color 0.3s;
        z-index: 1;
    }

    p.email{
        position: relative;
        top: 47px;
    }

    .field2{
        background-color: white;
        display: block;
        position: absolute;
        width: 220px; 
        height: 13px;
        top: 138px;
        left: 50px;
        flex: 1;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;      
        transition: border-color 0.3s;
        z-index: 1;
    }

    p.cpf{
        position: relative;
        top: 67px;
    }

    .field3{
        background-color: white;
        display: block;
        position: absolute;
        width: 145px; 
        height: 13px;
        top: 173px;
        left: 125px;
        flex: 1;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;      
        transition: border-color 0.3s;
        z-index: 1;
    }

    p.datadenasc{
        display: inline;
        padding: 10px;
        padding-inline: 5px;
        position: relative;
        top: 63px;
    }

    .field4{
        background-color: white;
        display: block;
        position: absolute;
        width: 60px; 
        height: 13px;
        top: 211px;
        left: 210px;
        flex: 1;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;      
        transition: border-color 0.3s;
        z-index: 1;
    }

    p.cep{
        margin-top: 20px;
        position: relative;
        top: 53px;
    }

    .field5{
        background-color: white;
        display: block;
        position: absolute;
        width: 145px; 
        height: 13px;
        top: 249px;
        left: 124px;
        flex: 1;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;      
        transition: border-color 0.3s;
        z-index: 1;
    }

    p.contato{
        position: relative;
        top: 40px;
    }
    
    .field6{
        background-color: white;
        display: block;
        position: absolute;
        width: 145px; 
        height: 13px;
        top: 287px;
        left: 124px;
        flex: 1;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;      
        transition: border-color 0.3s;
        z-index: 1;
    }

    /* Parte 2 */

    p.servicos{
        display: block;
        padding-inline: 5px;
        padding-top: 8px;
        height: 26px;
        width: 145px;
        margin-top: 0px;
        position: absolute;
        left: 350px;
        top: 25px;
    }

    .field7{
        background-color: white;
        display: block;
        position: absolute;
        width: 220px; 
        height: 13px;
        top: 63px;
        left: 400px;
        flex: 1;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;      
        transition: border-color 0.3s;
        z-index: 1;
    }

    p.experiencias{
        display: block;
        padding-inline: 15px;
        padding-top: 8px;
        height: 26px;
        width: 95px;
        margin-top: 0px;
        position: absolute;
        left: 350px;
        top: 99px;
    }


    .field9{
        background-color: white;
        display: block;
        position: absolute;
        width: 220px; 
        height: 13px;
        top: 138px;
        left: 400px;
        flex: 1;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;      
        transition: border-color 0.3s;
        z-index: 1;
    }

    p.certificacoes{
        display: block;
        padding-inline: 15px;
        padding-top: 8px;
        height: 26px;
        width: 95px;
        margin-top: 0px;
        position: absolute;
        left: 350px;
        top: 171px;;
    }

    .field10{
        background-color: white;
        display: block;
        position: absolute;
        width: 220px; 
        height: 13px;
        top: 211px;
        left: 400px;
        flex: 1;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;      
        transition: border-color 0.3s;
        z-index: 1;
    }

    p.descrição{
        display: block;
        padding-inline: 15px;
        padding-top: 8px;
        height: 26px;
        width: 95px;
        margin-top: 0px;
        position: absolute;
        left: 350px;
        top: 247px;
    }

    .field11{
        background-color: white;
        display: block;
        position: absolute;
        width: 220px; 
        height: 13px;
        top: 287px;
        left: 400px;
        flex: 1;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 8px;
        font-size: 14px;      
        transition: border-color 0.3s;
        z-index: 1;
    }

   

   
   



