        body{
            margin: 0;
            width: auto;
            height: auto;
            background-color: #F4EFEA;
        }

    @font-face {
        font-family: titulo;
        src: url(fonts/Poppins-ExtraBold.ttf);
    }
    @font-face {
        font-family: p1;
        src: url(fonts/Lato-Light.ttf);
    }


    .pagina_inicial{
        display: flex;
        justify-content: center;
        width: auto;
        height: auto;
        background-color: #F4EFEA;
        position: relative;
        z-index: 1;
        margin-top: 120px;
        
    }

       .cadastro{
        position: absolute;
        top: -145px;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
        
       
    }
    .bloco1{
        width: 100%;
        height: 77px;
        background-image: url(imagens/cabeçalho.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        top: 0; 
        left: 0;
        z-index: 0;
        display: flex;
        justify-content: center; /*eixo x*/
        align-items: center; /*eixo y*/
        gap: 20px;
        font-size: 12px;
        margin: 0;
        
    }
    .logo{
        width:  280px;
        height: auto;
        position: absolute;
        top: -17px;
        left: 48px;
    }


    .titulo{
        display: flex;
        width: auto;
        font-family: 'titulo', sans-serif;
        text-align: center;
        z-index: 1;
        font-size: 95px;    
        position: absolute;  
         top: 80px; 
        color: #1A1A1A;
    }
    .checkbox{
        width: 93px;
        height: 93px;
        position: relative;
        left: 332px;
        top: 285px;
        
    }
    .p1{    
        width: auto;
        font-family: 'p1', sans-serif;
        text-align: center;
        z-index: 1;
        font-size: 70px;    
        position: fixed;   
        top: 338px; 
        left: 446px;
        color: #1A1A1A;
        letter-spacing: opx;
    }
    .checkbox2{
        width: 93px;
        height: 93px;
        position: relative;
        left: 730px;
        top: 285px;
        
    }
    .p2{
        width: auto;
        font-family: 'p1', sans-serif;
        text-align: center;
        z-index: 1;
        font-size: 70px;    
        position: fixed;   
        top: 338px; 
        left: 935px;
        color: #1A1A1A;
        letter-spacing: opx;
    }
    



